@import "tailwindcss";

.testimonial-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.testimonial-scroll::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  scroll-snap-align: start;
  min-width: 260px;
}
